.inputboxissuebook {
  width: 750px;
  height: 780px;
  background-color: #c4a484;
  margin-left: 380px;
  padding: 40px 30px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputboxissuebook h1 {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 30px;
}

.issue-book-form {
  display: flex;
  flex-direction: column;
}

.issue-book-div {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.issue-book-div label {
  text-align: left;
  margin-right: 30px;
  font-weight: bold;
  width: 40%;
  font-size: 19.5px;
}

.issue-book-div input {
  width: 60%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 700px;
}

.issue-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 40%;
  background-color: #5d4037;
  color: white;
}

.issue-button:hover,
.cancel-button:hover {
  background-color: #724e43;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
